@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:"Nunito Sans",sans-serif;
}

.hr{
  background: linear-gradient(269.97deg, #572D16 23.76%, #A95A2C 87.18%);
}

.connect-with-us-btn{
background-color:#733E1D ;
}

.footer-bg{
  background:#733E1D
}

.left-vector {
  background: linear-gradient(136.44deg, #4d2c20 37.44%, #814b35 97.5%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.right-vector {
  background: linear-gradient(225.9deg, #572d16 33.2%, #ad5c2d 103.89%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  clip-path: polygon(28% 0%, 100% 0%, 100% 100%, 0% 99%);
}

.HomeContainer3bg {
  background: linear-gradient(318.74deg, #572d16 30.67%, #a95a2c 95.58%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(115, 62, 29, 1);
  box-sizing: border-box;
  pointer-events: none;
}

.specs{
  height: 3rem;
}